// @use "breakpoints" as *;
@use "colors" as *;
@use "shadows" as *;
// @use "utilities" as *;

.btn {
  background: $color--primary;
  border: 1px solid $color--primary;
  border-radius: 8px;
  box-shadow: 2px 2px 12px 0px #1c2c5e1a;
  color: white;
  display: block;
  font-size: 1.03rem;
  font-weight: 300;
  line-height: 21px;
  padding: 16px 32px 15px 32px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease;
  width: fit-content;

  // &::after {
  //   width: 100%;
  //   height: 100%;
  //   background: transparent;
  //   border: 2px solid $color--primary-light;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   content: "";
  //   display: block;
  //   transition: 0.2s ease;
  //   z-index: -1;
  //   border-radius: 8px;
  // }

  &:hover {
    box-shadow: 2px 2px 24px 0px #101a3656;
    background-color: #2b48a9;
    border-color: #2b48a9;
  }

  &.text {
    align-items: center;
    background: transparent;
    border: none;
    box-shadow: none;
    color: $color--primary-dark;
    display: flex;
    padding-left: 0;
    padding-right: 0;

    svg,
    img {
      margin-left: 8px;
      transition: 0.2s ease;
    }

    &::after {
      display: none;
    }

    &:hover {
      box-shadow: none;

      svg,
      img {
        margin-left: 12px;
      }
    }
  }

  
  &.secondary {
    background: $color--secondary;
    border: 1px solid $color--secondary;

    &::after {
      border-color: $color--secondary-light;
    }

    &.text {
      color: $color--secondary-dark;
    }
  }

}
