@use "colors" as *;
@use "breakpoints" as *;
@use "shadows" as *;
@use "sass:math";


$slideWidth: 250;
$slideHeight: 200;

.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: visible;
    overflow-y: visible;
    // max-width: 400px;
    // left: -400px;
    height: 160px;
    width: 140%;
    left: -20%;
    // box-shadow: $shadow--four;

    @include media-breakpoint-up(xs) {
        height: 160px;
        width: 120%;
        left: -10%;
    }

    @include media-breakpoint-up(sm) {
        box-shadow: none;
    }

    @include media-breakpoint-up(md) {
        height: 220px;
    }

    @include media-breakpoint-up(lg) {
        height: 305px;
        width: 110%;
        left: -5%;
    }

    @include media-breakpoint-up(xl) {
        height: 333px;
        width: 100%;
        left: 0;
    }

    .carousel__mask {
        position: relative;
        // width: #{$slideWidth}px;
        width: 100%;
        overflow: visible;
        overflow-y: visible;
    }

    .carousel__track {
        position: relative;
        display: flex;
        width: 100%;
        overflow: visible;
        overflow-y: visible;

        &.active {
            transition: 0.3s ease;
        }

        // @media (min-width: 1200px) {
        //   left: -120px;
        // }
    }

    .carousel__slide {
        position: relative;
        left: 0;
        position: relative;

        z-index: -1;
        overflow: visible;
        overflow-y: visible;
        // opacity: 0.4;
        perspective: 1000px;
        opacity: 0;

        &.middle {
            a {
                opacity: 1;
            }
        }

        * {
            visibility: visible !important;
        }

        svg {
            transition: 0.6s ease;
            position: relative;
            left: 0;
            visibility: visible !important;
            box-shadow: $shadow--four;

            image {
                visibility: visible !important;
            }
        }

        /* purgecss start ignore */
        &.middle {
            z-index: 9 !important;
            // opacity: 1;

            @include media-breakpoint-up(sm) {
                svg {
                    box-shadow: $shadow--four;
                }
            }
        }

        &.edge {
            z-index: 3 !important;
            // opacity: 0.8;

            @include media-breakpoint-up(sm) {
                svg {
                    box-shadow: $shadow--three;
                }
            }
        }

        &.outer {
            // opacity: 0.6;
            z-index: 1 !important;

            @include media-breakpoint-up(sm) {
                svg {
                    box-shadow: $shadow--two;
                }
            }
        }
        /* purgecss end ignore */

        &:first-child {
            margin-left: -#{math.div(math.div(12, 1.5), 12) * 100%};

            @media (min-width: 1200px) {
                margin-left: -#{math.div(math.div(12, 5), 12) * 100%};
            }
        }

    width: 100%;
    flex: 1 1 0;
    flex-basis: #{math.div(math.div(12, 3), 12) * 100%};
    width: #{math.div(math.div(12, 3), 12) * 100%};
    min-width: #{math.div(math.div(12, 3), 12) * 100%};
    max-width: #{math.div(math.div(12, 3), 12) * 100%};

        @include media-breakpoint-up(sm) {
            flex-basis: #{math.div(math.div(12, 3), 12) * 100%};
            width: #{math.div(math.div(12, 3), 12) * 100%};
            min-width: #{math.div(math.div(12, 3), 12) * 100%};
            max-width: #{math.div(math.div(12, 3), 12) * 100%};
        }

        @include media-breakpoint-up(md) {
            flex-basis: #{math.div(math.div(12, 3), 12) * 100%};
            width: #{math.div(math.div(12, 3), 12) * 100%};
            min-width: #{math.div(math.div(12, 3), 12) * 100%};
            max-width: #{math.div(math.div(12, 3), 12) * 100%};
        }

        @include media-breakpoint-up(lg) {
            flex-basis: #{math.div(math.div(12, 3), 12) * 100%};
            width: #{math.div(math.div(12, 3), 12) * 100%};
            min-width: #{math.div(math.div(12, 3), 12) * 100%};
            max-width: #{math.div(math.div(12, 3), 12) * 100%};
        }

        @media (min-width: 1200px) {
            flex-basis: #{math.div(math.div(12, 5), 12) * 100%};
            width: #{math.div(math.div(12, 5), 12) * 100%};
            min-width: #{math.div(math.div(12, 5), 12) * 100%};
            max-width: #{math.div(math.div(12, 5), 12) * 100%};

            // &.middle {
            //   flex-basis: #{12 / 5 / 12 * 120%};
            //   width: #{12 / 5 / 12 * 120%};
            //   min-width: #{12 / 5 / 12 * 120%};
            //   max-width: #{12 / 5 / 12 * 120%};
            // }
        }

        border-radius: 0;
        margin: 0;
        padding: 0;
    }
}

.carousel__link {
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-bottom: 80px !important;
    margin-top: 12px;
    padding: 4px 12px;
    padding-top: 5px;
    font-size: 14px;
    cursor: pointer;

    @include media-breakpoint-up(md) {
        margin-bottom: 110px !important;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 126px !important;
    }
}

.carousel__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // font-family: "Mont", "Courier New";
    font-weight: 500;
    font-size: 1.1rem;
}

.carousel__indicator {
    padding: 5px 12px 4px;
    border-radius: 999px;
    font-size: 16px;
    // text-transform: uppercase;
    background: $color--primary-light;
    color: $color--heading;
    font-weight: bold;
    min-width: 180px;
    text-align: center;
}

.carousel__control {
    outline: none;
    background: transparent;
    border: none;
    margin: 0px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 18px;
        height: 18px;
    }
}
