// $color--purple: #663399;
// $color--purple-light: #bba0d6;
// $color--purple-dark: #542c85;


$color--heading: #111;
$color--text: #222;
$color--link: #111;
$color--primary-lightest: #fff;
$color--primary-light: #f5f5f5;
$color--primary: #111;
$color--primary-dark: #000;

$color--secondary-lightest: #fff;
$color--secondary-light: #eee;
$color--secondary: #222;
$color--secondary-dark: #000;

$color--background: #fff;

$color--gray-one: #f5f5f5;
$color--gray-two: #e0e0e0;
$color--gray-three: #888;
$color--gray-four: #444;
$color--gray-five: #111;
