@use "colors" as *;

footer {
  background: $color--primary-dark;
  margin: 0;
  padding: 64px 0 !important;
  position: relative;
  z-index: 1;

  img {
    display: block;
    margin-bottom: 24px;
  }

  p {
    color: #ffffffaa;
    font-size: 1.03rem;
    line-height: 28px;
    margin: 0;
    margin-top: 8px;
  }

  .container {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .d-flex {
    align-items: center;
    justify-content: center;
    width: 100%;

    a {
      path {
        stroke: #ffffffaa;
        transition: .2s ease;
      }

      &:hover {
        path {
          stroke: #ffffff;
        }
      }
    }

    a:first-child {
      display: block;
      margin-right: 32px;
    }
  }
}
