@use "../breakpoints" as *;
@use "../shadows" as *;
@use "../colors" as *;

// Black & White Theme Overrides

.hero--bw {
  background: linear-gradient(to bottom, #f7f8fa 0%, #fff 100%) !important;
  color: #111 !important;
}

.themes--bw, .skills--bw {
  background: #fff !important;
  color: #111 !important;
}

.hero--bw h1, .hero--bw p, .hero--bw .about-snippets p, .hero--bw .profile-img {
  color: #111 !important;
}

.hero--bw .profile-img {
  filter: grayscale(1) contrast(1.1);
  border: 4px solid #111;
}

.about-snippets p {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.skills--bw {
  background: #fafafa !important;
}
.skills-list li {
  background: #fff;
  color: #111;
  border: 1px solid #111;
  border-radius: 6px;
  padding: 0.5rem 1.2rem;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.themes--bw {
  background: #fff !important;
}


.home {
  .hero {
    background: $color--primary-lightest;
    overflow: hidden;
    padding-bottom: 2rem;
    padding-top: 96px;
    position: relative;

    @include media-breakpoint-up(md) {
      padding-top: 124px;
      padding-bottom: 80px;
    }

    @include media-breakpoint-down(md) {
      // padding-top: 170px;
      padding-bottom: 120px;
    }

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    h1 {
      color: $color--heading;
  font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      margin-bottom: 24px;
      max-width: 520px;

      @include media-breakpoint-up(md) {
  font-size: 57px;
        line-height: 66px;
        margin-bottom: 32px;
      }
    }

    p.hero__paragraph {
      color: $color--text;
  font-size: 20px;
      line-height: 30px;
      margin-bottom: 24px;
      margin-top: 0;
      max-width: 420px;

      @include media-breakpoint-up(md) {
        margin-bottom: 32px;
      }
    }

    .btn {
      @include media-breakpoint-up(sm) {
        display: inline-block;

        &.text {
          display: inline-flex;
          margin-left: 32px;
        }
      }
    }

    img.graphic {
      // width: 590px;
      // height: 585px;
      margin-left: -6rem;
      margin-top: -2rem;

      @include media-breakpoint-down(md) {
        display: none;
        height: auto;
        margin-left: -3rem;
        width: 120%;
      }

      @include media-breakpoint-down(xs) {
        height: auto;
        margin-left: -1rem;
        width: 100%;
      }

      @include media-breakpoint-up(md) {
        height: 717px;
        margin-left: -2rem;
        margin-top: 0rem;
        width: 724px;
      }

      @include media-breakpoint-up(lg) {
        height: 570px;
        margin-left: -8rem;
        margin-top: -6rem;
        width: 576px;
      }

      @include media-breakpoint-up(xl) {
        height: 717px;
        margin-left: -4rem;
        margin-top: -6rem;
        width: 724px;
        width: auto;
      }
    }

    .proof {
      background: $color--background;
      border-radius: 8px;
      box-shadow: 2px 2px 6px -1px #171a5010, 2px 2px 48px -6px #15195006;
      border: 1px solid #e6e6e6;
      margin-top: 32px;
      padding: 16px 24px;
      width: fit-content;
      display: none;

      @include media-breakpoint-up(md) {
        // display: block;
      }
      // margin: 0 auto;
      // padding-top: 32px;
      // padding-bottom: 32px;
      // position: relative;
      // border: 2px solid #00000010;
      // border-radius: 8px;
      // background: #ffffff00;
      // backdrop-filter: blur(10px);
      // margin-bottom: -1rem;
      // margin-top: -4rem;

      // &::after {
      //   display: block;
      //   content: "";
      //   height: 2px;
      //   background: #00000040;
      //   width: 50px;
      //   position: absolute;
      //   top: 0;
      //   left: calc(50% - 25px);
      // }

      .stars {
        align-items: center;
        display: flex;
        margin: 0;
        margin-bottom: 12px;
        width: fit-content;
        // margin: 0 auto;

        img {
          height: 20px;
          margin-right: 6px;
          width: 20px;

          &:last-child {
            margin: 0;
          }
        }
      }

      p.hero__paragraph {
        font-size: 0.902rem;
        font-weight: 600;
        line-height: 24px;
        margin: 0;
        margin-bottom: 0px;
        max-width: 800px;
        width: 100%;
        // text-align: center;
        // margin: 0 auto;

        &:last-child {
          font-weight: 300;
          margin-bottom: 0;
          margin-top: 0px;

          strong {
            font-weight: 300;
          }
        }
      }
    }

    img.wave {
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
      // top: -159px;

      @media (min-width: 1400px) {
        width: 100%;
      }
    }

    img.hero__background {
      filter: brightness(97%);
      position: absolute;
      right: -60vh;
      top: -20vh;
      z-index: 0;
      opacity: 0.6;

      @include media-breakpoint-up(md) {
        filter: brightness(98%);
        right: -40vh;
      }

      @include media-breakpoint-up(lg) {
        right: -10vh;
      }

      @include media-breakpoint-up(xl) {
        right: -10vh;
        width: 1200px;
      }
    }
  }

  .hero__services {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include media-breakpoint-up(lg) {
      align-items: flex-start;
    }
    background: $color--background;
    border: 1px solid #dfdfdf;
    border-radius: 12px;
    box-shadow: 2px 2px 40px 0px #44455510;
    border: 1px solid #e6e6e6;
    // height: 100%;
    padding: 32px;

    ul {
      margin: 0;
      padding: 0;
    }

    .hero__service {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      max-width: 250px;
      margin-right: auto;
      margin-left: auto;

      @include media-breakpoint-up(lg) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;
      }

      img {
        margin-bottom: 12px;
        border-radius: 8px;
        background-color: $color--primary-light;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        border: 1px solid #e6e6e6;
        padding: 12px;
        width: 100%;
        max-width: 48px;

        @include media-breakpoint-up(lg) {
          margin-bottom: 0;
          margin-right: 24px;
          margin-top: 6px;
        }
      }

      .h4 {
        margin-bottom: 0;
        margin-top: 0;
        color: $color--primary-dark;
        font-weight: bold;
      }

      .h4,
      p {
        text-align: center;

        @include media-breakpoint-up(lg) {
          text-align: left;
        }
      }

      p {
        margin: 0;
      }
    }
  }

  .technologies {
    margin-bottom: -64px;
    margin-top: 64px;

    .technology {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        line-height: 1.3;
        font-weight: bold;
      }
    }

    .row {
      width: 100%;
      margin: 0;

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        img {
          max-width: 100%;
          height: auto;
          max-width: 44px;

          @include media-breakpoint-up(sm) {
            max-width: 54px;
          }
        }
      }
    }
  }

  .themes {
    padding-bottom: 120px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 60px;
    }
  }

  .pain-points {
    padding-bottom: 80px;

    @include media-breakpoint-up(md) {
      padding-bottom: 100px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        align-items: center;

        img {
          font-size: 1.208rem;
          margin-right: 12px;
        }
      }
    }
  }

  .services {
    padding-top: 80px !important;
    padding-bottom: 80px;
    background: $color--primary-lightest;

    @include media-breakpoint-up(md) {
      padding-bottom: 100px;
    }

    // margin-bottom: -32px !important;

    h2 {
      margin-bottom: 24px;
      margin-top: 0;
      text-align: center;

      @include media-breakpoint-up(md) {
        margin-bottom: 32px;
      }
    }

    .section-description {
      margin-bottom: 48px;
      text-align: center;

      @include media-breakpoint-up(md) {
        margin-bottom: 64px;
      }
    }

    .row {
      margin-left: -12px;
      margin-right: -12px;
    }

    .col-md-6.col-lg-4 {
      padding: 32px;

      &:last-child {
        padding-bottom: 0;
      }

      @include media-breakpoint-up(md) {
        &:nth-child(2) {
          padding-bottom: 0;
        }
      }

      @include media-breakpoint-up(lg) {
        &:nth-child(1) {
          padding-bottom: 0;
        }
      }
    }

    .feature {
      margin: 0 auto;
      max-width: 300px;
      margin-bottom: 32px;
      // margin-bottom: 32px;

      // @include media-breakpoint-up(md) {
      //   margin-bottom: 0;
      // }

      @include media-breakpoint-up(lg) {
        max-width: 999px;
      }

      background: $color--background;
      border: 1px solid #dfdfdf;
      border-radius: 12px;
      box-shadow: 2px 2px 40px 0px #44455510;
      border: 1px solid #e6e6e6;
      // height: 100%;
      padding: 32px;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-up(md) {
          margin-left: 0;
          margin-right: 0;
        }
      }

      h3 {
        margin-bottom: 12px;
        text-align: center;
        // color: white;

        @include media-breakpoint-up(md) {
          text-align: left;
        }
      }

      p {
        text-align: center;
        // color: white;

        @include media-breakpoint-up(md) {
          text-align: left;
        }
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .packages {
    padding-top: 80px !important;
    padding-bottom: 80px;

    .packages__card {
      background: #fff;
      border-radius: 8px;
      padding: 2rem 1.5rem;
      box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);
      border: 1px solid #e6e6e6;
      flex: 1 1 280px;
      text-align: center;
      margin-bottom: 2rem;
      background: $color--background;
      border: 1px solid #dfdfdf;
      border-radius: 12px;
      box-shadow: 2px 2px 40px 0px #44455510;
      border: 1px solid #e6e6e6;
      // height: 100%;
      padding: 32px;

      h3 {
        margin-bottom: 1rem;
        font-weight: 700;
      }

      .price {
        font-size: 2.093rem;
        color: #1c2c5e;
        margin-bottom: 1.6rem;
        margin-top: 1.6rem;
        font-weight: 700;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 1.5rem;

        li {
          margin-bottom: 0.75rem;
          font-weight: 500;
          border-bottom: 1px solid #dfdfdf;
          padding-bottom: 0.75rem;
        }
      }

      .maintenance {
        font-style: italic;
        margin-bottom: 1.5rem;
        color: #555;
      }

      .btn {
        width: 100%;
        font-weight: 600;
      }
    }
  }

  .chat {
    overflow: hidden;
    padding-bottom: 282px;
    padding-top: 188px;
    position: relative;

    @include media-breakpoint-up(md) {
      padding-bottom: 328px;
      padding-top: 234px;
    }

    .blob {
      left: -15rem;
      opacity: 0.6;
      position: absolute;
      top: calc(-5rem + 50%);
      width: 500px;

      @include media-breakpoint-up(md) {
        opacity: 0.9;
      }

      @include media-breakpoint-up(lg) {
        opacity: 1;
        top: calc(-9rem + 50%);
        width: 600px;
      }
    }

    .blobs {
      opacity: 0.6;
      position: absolute;
      right: -15rem;
      top: calc(-5rem + 50%);
      width: 500px;

      @include media-breakpoint-up(md) {
        opacity: 0.9;
      }

      @include media-breakpoint-up(lg) {
        opacity: 1;
        top: calc(-9rem + 50%);
        width: 600px;
      }
    }

    h2 {
      margin-bottom: 24px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      @include media-breakpoint-up(md) {
        margin-bottom: 32px;
      }
    }

    p {
      color: #ffffffd3;
      text-align: center;
    }

    .d-flex {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;

      .btn {
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;

        &:last-child {
          margin-bottom: 0;
        }

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }
      }

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
    }
  }

  .testimonials {
    padding-bottom: 240px;
    padding-top: 80px;
    // background: $color--primary-lightest;

    @include media-breakpoint-up(md) {
      padding-bottom: 260px;
      padding-top: 100px;
    }
    padding: 0 !important;
    margin-top: -32px !important;

    h2 {
      margin-bottom: 24px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      text-align: center;

      @include media-breakpoint-up(md) {
        margin-bottom: 32px;
      }
    }

    .section-description {
      margin: 0 auto;
      margin-bottom: 48px;
      text-align: center;

      @include media-breakpoint-up(md) {
        margin-bottom: 64px;
      }
    }

    .row {
      margin-left: -16px;
      margin-right: -16px;

      @include media-breakpoint-up(md) {
        margin-left: -32px;
        margin-right: -32px;
      }
    }

    .col-md-6 {
      padding: 16px;

      &:first-child {
        padding-top: 0;
      }

      @include media-breakpoint-up(md) {
        padding: 32px;

        &:nth-child(2) {
          padding-top: 0;
        }
      }
    }

    .testimonial {
      height: 100%;
      background: $color--background;
      border: 1px solid #dfdfdf;
      border-radius: 12px;
      box-shadow: 2px 2px 40px 0px #44455510;
      border: 1px solid #e6e6e6;
      // height: 100%;
      padding: 32px;

      p {
        font-weight: 300;
        margin: 0;
        // font-size: 18px;
        // line-height: 28px;

        &:first-child {
          margin-bottom: 16px;
        }

        &:last-child {
          font-weight: 600;
          color: $color--primary-dark;
        }
      }
    }
  }

  .cta {
    background: $color--primary-dark;
    overflow: visible;
    position: relative;
    // margin-top: 159px;

    @include media-breakpoint-up(lg) {
      background-size: contain;
    }

    img.wave {
      bottom: 99%;
      left: 0;
      position: absolute;
      width: 100%;
      // top: -159px;

      @media (min-width: 1400px) {
        width: 100%;
      }
    }

    .blob {
      position: absolute;
      right: -15rem;
      top: -5rem;
      width: 400px;

      @include media-breakpoint-up(lg) {
        top: -9rem;
        width: 500px;
      }
    }

    .blobs {
      bottom: 0;
      left: -15rem;
      position: absolute;
      width: 500px;

      @include media-breakpoint-up(md) {
        left: -5rem;
      }

      @include media-breakpoint-up(lg) {
        bottom: 0rem;
        width: 600px;
      }
    }

    p.display {
      color: white;
    }

    h2 {
      color: white;
      margin-bottom: 48px;
      margin-top: 0;
      text-align: center;

      @include media-breakpoint-up(md) {
        margin-bottom: 64px;
      }
    }

    .section-description {
      text-align: center;
    }

    .card {
      margin: 0 auto;
      max-width: 500px;
      background: $color--background;
      border: 1px solid #dfdfdf;
      border-radius: 12px;
      box-shadow: 2px 2px 40px 0px #44455510;
      border: 1px solid #e6e6e6;
      // height: 100%;
      padding: 32px;

      @include media-breakpoint-up(md) {
        padding: 64px;
      }

      .btn {
        cursor: pointer !important;
        margin-bottom: 12px;
        margin-top: 16px !important;
        width: 100% !important;
      }

      .subtext {
        color: $color--text;
        font-family: "Poppins";
        font-size: 1.03rem;
        font-weight: 300;
        line-height: 28px;

        a {
          color: $color--link;
          font-weight: 300;
        }
      }
    }
  }
}
